Repository KapJI/capital-gains-calculator, pull requests merged in 2021-11, with the labels that each got.

#124 Add automerge label to Dependabot PRs
  .github/dependabot.yml
  .github/labels.yml
Labels: github structure

#125 Use squash merge in Kodiak
  .kodiak.toml
Labels: automerge

#126 Don't add automerge label in Dependabot PRs
  .github/dependabot.yml
Labels: github structure, automerge

#128 Fix calculation with sales in last day of tax year
  cgt_calc/main.py
Labels: bug

#131 Add support for data from Sharesight service
  README.md
  calculations_example.pdf
  cgt_calc/args_parser.py
  cgt_calc/currency_converter.py
  cgt_calc/main.py
  cgt_calc/parsers/__init__.py
  cgt_calc/parsers/sharesight.py
  cgt_calc/resources/template.tex.j2
  pyproject.toml
  setup.cfg
  tests/test_data/sharesight/All Trades Report - Test.csv
  tests/test_data/sharesight/Taxable Income Report - Test.csv
  tests/test_data/test_run_with_example_files_output.txt
  tests/test_data/test_run_with_sharesight_files_no_balance_check_output.txt
  tests/test_sharesight.py
Labels: feature

#133 Move mypy config to pyproject.toml
  pyproject.toml
  setup.cfg
Labels: code quality
