Repository KapJI/capital-gains-calculator, pull requests merged in 2023-01, with the labels that each got.

#316 Bump poetry to 1.3.2
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Labels: github structure

#307 Parse json numbers directly as Decimals in Schwab Equity Award parser.
  cgt_calc/parsers/schwab_equity_award_json.py
  tests/test_schwab_equity_award_json.py
Labels: code quality

#319 Support 8 columns in Schwab transactions CSV
  cgt_calc/parsers/schwab.py
  tests/test_data/schwab_transactions.csv
Labels: bug

#323 Update support format Schwab Awards CSV
  cgt_calc/parsers/schwab.py
Labels: bug

#324 Add allowances for 2022 and 2023
  cgt_calc/const.py
Labels: feature

#325 Add basic support for ticker renames
  cgt_calc/const.py
  cgt_calc/parsers/mssb.py
  cgt_calc/parsers/schwab.py
  cgt_calc/parsers/schwab_equity_award_json.py
  cgt_calc/parsers/sharesight.py
  cgt_calc/parsers/trading212.py
  pyproject.toml
Labels: feature

#327 Show info messages if files are not provided
  cgt_calc/parsers/__init__.py
  tests/test_data/test_run_with_example_files_output.txt
  tests/test_data/test_run_with_sharesight_files_no_balance_check_output.txt
Labels: code quality
